@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {  /* Default Reset*/
    margin: 0; 
    padding: 0;
}

body {
    background: linear-gradient(270deg, #78aebe, #201b2c);
    font-family: 'Poppins', sans-serif;
}

    /* Nav BAR */

nav {
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > a:link, ul > a:visited {
    background-color: #3386a1;
    color: white;
    border-radius: 5%;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Buttons Interactivity */
ul > a:hover, ul > a:active {
    background-color: #201b2c;
}

.logo {
    margin: 4px;
    width: 50%;
}

.profile {
    border-radius: 50%;
}
