@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {  /* Default Reset*/
    margin: 0; 
    padding: 0;
}

body {
    background: linear-gradient(265deg, #78aebe, #201b2c);
    font-family: 'Poppins', sans-serif;
}

    /* Divisions */

.main-container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.right-container{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

    /* Left Container Style */

.left-container > .text-box{
    margin: 1rem 0rem 5rem 3rem;
    padding: 3rem;
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 20px;
    text-align: left;
    width: 75%;
    background-color: #78aebeb4;
}

.left-container > .image{
    width: 75%;
    margin: 1rem 3rem 5rem 0rem;
}

.left-container > .image > .image-def{
    border-radius: 50px 3px 50px 3px;
    box-shadow: 0px 10px 40px #00000056;
    background-color: white;
}

    /* Right Container Style */

.right-container > .image{
    width: 75%;
    margin: 1rem 0rem 5rem 0rem;
}

.right-container > .image > .image-def{
    border-radius: 3px 50px 3px 50px;
    box-shadow: 0px 10px 40px #00000056;
    background-color: white;
}

.right-container > .text-box{
    margin: 1rem 0rem 5rem 5rem;
    padding: 3rem;
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 20px;
    text-align: left;
    width: 70%;
    color: #abf3d2;
    background-color: #201b2cb4;
}

    /* Footer */

footer {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #201b2c;
}
